*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 15px;
}

/*---- HEADER ----*/
.header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #161b22;
}
.header-wrapper{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 60px;
}